
@import '_aux.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #DCDCDC;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: 125px;
  background-color: #003366;
}

.principal {
  display: flex;
  flex-flow: row nowrap;
}

.logo {
  width: 20%;
  height: 100%;
  padding-top: 3%;
  padding-left: 1%;
  img {
    width: 95%;
  }
}

#barraBusqueda {
  height: 100%;
  div {
    padding-top: 10%;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-around;
  }
}

#inputBusqueda {
  width: 25em;
  @include borderradius;
}

footer {
  height: 15%;
  background-color: #003366;
}